.menu {
    padding-bottom: 15.0rem;
}

.img-wrap {
    text-align: center;
}

.menu p {
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 5.0rem;
}

.menu1, .menu2 {
    margin-right: 20px;
}

.menu1, .menu4 {
    height: 420px;
    margin-bottom: 20px;
}

.menu2, .menu3 {
    height: 340px;
    margin-bottom: 20px;
}